img {
  width: 100%;
  padding: 15px;
}

.block-get-blood__img,
.block-give-blood__img {
  width: 150px;
  max-width: 150px;
  margin: 0 auto;
}

.block-give-blood,
.block-get-blood {
  margin: 0 auto;
}
