.search__button {
  padding: 10px;
  border-radius: 7px 0 7px 0;
  border: navajowhite;
  background-color: transparent;
  box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.3);
  color: black;
  margin-left: 10px;
}

.search__button--desc {
  border-radius: 0 7px 0 7px;
  transform: rotate(180deg);
}

