.form_rhesus-factor {
  padding: 20px;
  display: block;
}

.form_rhesus-factor:hover {
  fill: #008000;
  background-color: #000;
}

.form__item-label {
  display: block;
}

.form_rhesus-factor {
  display: inline-block;
}
