<div class="hero">
<div class="container">
<div class="row pb-5 pt-5">
  <h1 class="col-4">Почни рятувати життя разом з нами!</h1>
  <img src="assets/image.png" alt="blood" class="col-8">
</div>
</div>
</div>
<div class="container">
<div class="row pt-5">
  <div class="block-give-blood col-3 card text-center ">
    <img class="block-give-blood__img card-img-top" src="assets/noun_blood.svg">
    <div class="card-body">
      <a routerLink="/new-donor" class="block-give-blood_link btn btn-primary">Здати кров</a>
    </div>
  </div>


  <div class="block-get-blood col-3 card text-center">
    <img class="block-get-blood__img card-img-top" src="assets/noun_Blood Donation.svg">
    <div class="card-body">
      <a routerLink="/new-recipient" class="block-get-blood_link btn btn-primary">Потрібна кров</a>
    </div>
  </div>
</div>
</div>
